.informationcard, .nompren, .status {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 20px;
	margin: 3px;
	color: grey;
	text-transform: capitalize;
}

.profil {
	padding:0;
	text-align: center;
}

.status {
	text-transform: capitalize;
	color: black;
}

.nompren {
	font-size: 22px;
	text-align: center;
	color: $red;
}

// .logoCard {


// 	a {
// 		text-decoration: none;
// 		color: white;

// 		&:hover {
// 			color: $red;
// 		}
// 	}
// }