.concept {
	padding-top: 4em;
	font-family: "Open sans", Sans-serif;
	height: 32em;
	padding-bottom: 45em;

}

.textConcept {

	padding: 1em 1em;
	padding-right: 2em;
	text-align: justify;
}
#paddingright {
	padding-right: 1 1 ;
}