.mapContainer {
	padding: 5em 5em;
	font-family: "Open sans", Sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	margin: 2em;
}
.titleContainer, .subtitleContainer {
	text-align: center;
}

.map {
	height: 100%
}
