.concept {
	padding-top: 4em;
	padding-right: 4em;
	padding-left: 4em;
	font-family: "Open sans", Sans-serif;
	height: 41em;
	padding-bottom: 42em;
}

.concept .subtitleContainer {
	padding-bottom: 2em;
}

.textConcept {
	padding: 1em 1em;
	padding-right: 2em;
	text-align: justify;
}

#paddingright {
	padding-right: 1 1;
}