html, body {
  font-size: 20px;
  font-family: "Open sans", Sans-serif; }

.titleContainer {
  margin-bottom: 0;
  font-family: "Open sans", Sans-serif; }

.subtitleContainer {
  color: grey;
  margin-top: 0;
  margin-bottom: 2em; }

.mainHeader {
  background-color: #BC2224;
  color: #f4f5f9;
  padding: 2em 5em;
  width: 100%;
  font-family: "Open sans", Sans-serif; }

.acolor {
  color: #f4f5f9; }

.ui.top.fixed.menu {
  background-color: #BC2224;
  height: 4em; }

#acolor {
  color: #f4f5f9; }

.bordtitlemenu {
  margin-top: 20px; }

.menu .leftMenu {
  display: inline-block; }
  .menu .leftMenu h1 {
    line-height: 1em;
    display: inline-block; }
.menu .rightMenu {
  display: inline-block;
  float: right; }
  .menu .rightMenu li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin: 0 auto;
    width: 8em;
    text-align: center; }
  .menu .rightMenu a {
    color: #f4f5f9; }
    .menu .rightMenu a:hover {
      border-bottom: 0.1em solid #f4f5f9; }

.textHeader {
  margin: 10em 0; }
  .textHeader h2 {
    font-size: 1em;
    margin: 2em 0; }

.ui.inverted.button.joinBtn {
  margin-left: 2em; }

.concept {
  font-family: "Open sans", Sans-serif;
  height: 30em; }

.textConcept {
  padding: 0 1em;
  text-align: justify; }

.comment {
  padding: 5em 5em;
  background-color: #1b1c1d;
  font-family: "Open sans", Sans-serif;
  color: white; }

.titleComment {
  color: #BC2224;
  font-size: 1.5em; }

.textComment {
  width: 90%; }

.stepsComment {
  width: 90%;
  margin-top: 2em; }

.pictoComment {
  text-align: center;
  margin: 0.8em 0; }
  .pictoComment a {
    text-decoration: none;
    color: white; }
    .pictoComment a:hover {
      color: #BC2224; }

.buttonComment {
  text-align: right;
  margin-top: 2em;
  margin-right: 4em; }

.mapContainer {
  padding: 4em 4em;
  font-family: "Open sans", Sans-serif;
  height: 35em;
  margin: 0;
  padding: 0;
  margin: 1em;
  padding-top: 2em; }

.titleContainer, .subtitleContainer {
  text-align: center; }

#titremap {
  margin-top: 1px; }

.map {
  height: 90%;
  z-index: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.map:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

span {
  color: grey;
  font-family: Helvetica,Arial,sans-serif; }

li {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  list-style-type: none; }

#buttoncard {
  margin-top: 2em; }

.containerForm {
  width: 60%;
  margin-top: 1.5em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em; }

.hide {
  width: 100%;
  height: 10%;
  background-color: #BC2224;
  color: #fff; }
  .hide .error, .hide .success {
    text-align: center; }
    .hide .error p, .hide .success p {
      margin: 0;
      padding: 1.5em; }

.ui.inverted.vertical.footer.segment {
  margin-top: 6em;
  padding-top: 3em; }

.logofooter {
  margin: 0.8em 0;
  display: inline-block; }
  .logofooter a {
    text-decoration: none;
    color: white; }
    .logofooter a:hover {
      color: #BC2224; }

/*# sourceMappingURL=style.css.map */
